<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>关于CHENG</title>
    <link href="../static/images/favicon.ico" th:href="@{/images/me.jpg}" rel="icon" type="image/x-ico">
    <link rel="stylesheet" href="/static/lib/semantic.dist/semantic.min.css" th:href="@{/lib/semantic.dist/semantic.min.css}">    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>

<!--导航-->
<nav class="gird-header">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui olive header item" style="font-family: STSong">CHENG</h2>
            <!--<div class="right m-item item m-mobile-hide">-->
            <a href="#" th:href="@{/}" class="m-item item m-mobile-hide "><i class="home icon"></i>首页</a>
            <a href="#" th:href="@{/types/-1}" class="m-item item m-mobile-hide"><i
                    class="clone outline icon"></i>分类</a>
            <a href="#" th:href="@{/archives}" class="m-item item m-mobile-hide"><i class="clock icon"></i>时间轴</a>
            <a href="#" th:href="@{/music}" class="m-item item m-mobile-hide"><i class="music icon"></i>音乐盒</a>
            <a href="#" th:href="@{/message}" class="m-item item m-mobile-hide"><i class="book icon"></i>留言板</a>
            <a href="#" th:href="@{/friends}" class="m-item item m-mobile-hide"><i class="pencil alternate icon"></i>友人帐</a>
            <a href="#" th:href="@{/picture}" class="m-item item m-mobile-hide"><i class="image icon"></i>照片墙</a>
            <a href="#" th:href="@{/about}" class="active m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
            <!--</div>-->
            <div class="right m-item item m-mobile-hide">
                <form name="search" action="#" th:action="@{/search}" method="post" target="_blank">
                    <div class="ui icon transparent input m-margin-tb-tiny" style="color: white">
                        <input style="color: white" type="text" name="query" placeholder="Search...."
                               th:value="${query}">
                        <i onclick="document.forms['search'].submit()" class="search link icon"></i>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>


<!--顶部背景图片-->
<div class="m-bg-type_outer" style="width: 100%;height: 40%">

</div>

<!--个人资料描述-->
<div class="ui container m-opacity box-shadow-max">
    <div class="ui segment m-margin-" align="center">
        <div class="m-margin-top-large" align="center">
            <img class="ui circular image" align="center" src="../static/images/me.jpg" th:src="@{/images/me.jpg}"
                 style="width: 150px;height: 150px;">
        </div>
        <div class="m-margin-top-small" style="font-size: x-large;font-family: STSong" align="center">CHENG</div>

        <div class="m-margin-top" align="center">
            <a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
            <a href="#" class="ui qq circular icon button" data-content="3194525857" data-position="bottom center"><i
                    class="qq icon"></i></a>
            <a href="https://github.com/Wpengcheng/" target="_blank" class="ui github circular icon button"
               data-content="点击跳转GitHub" data-position="bottom center"><i class="github icon"></i></a>
            <a href="https://blog.csdn.net/wpc2018?spm=1010.2135.3001.5343/" target="_blank"
               class="ui csdn circular icon button" data-content="点击跳转CSDN" data-position="bottom center"><i
                    class="copyright outline icon"></i></a>
            <a href="#" class="ui email circular icon button" data-content="3194525857@qq.com"
               data-position="bottom center"><i class="envelope  icon"></i></a>
        </div>


        <div class="ui wechat-qr flowing popup transition hidden">
            <img src="../static/images/oneStarWechat.jpg" th:src="@{/images/oneStarWechat.jpg}" alt=""
                 class="ui rounded image" style="width: 110px">
            <div align="center">微信</div>
        </div>
        <div class="ui qq-qr flowing popup transition hidden">
            <img src="../static/images/qq.jpg" th:src="@{/images/qq.jpg}" alt="" class="ui rounded image"
                 style="width: 110px">
            <div align="center">QQ</div>
        </div>
        <hr class="m-margin-top-small" style="width: 30%">
        <br>
        <div>
            <p>万里顾一程</p>
            <p>一个有限的、带着偏见看世界的人；</p>
            <p>一个独立的开发者，一个终身学习者；</p>
            <p>誓将学习无限循环，希望结识可以共同成长的小伙伴。</p>
            <br>

            <!--            <p>面对那些骂我的人，我哪里有时间停下来和对方吵架，或者是回头解释。</p>-->
            <!--            <p>也许前面还会有新的人骂你，我只能一直跑一直跑，也许前面还会有新的人骂你，</p>-->
            <!--            <p>但我还是相信越是前方，有功夫骂人的人越少，因为大家都在奔跑。跑远了，那些站在原处骂你的人声音就小了。</p>-->

            <p>---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
            <br>
            <p>也许你现在仍然是一个人下班，</p>
            <p>一个人乘地铁，一个人上楼，一个人吃饭，</p>
            <p>一个人睡觉，一个人发呆。然而你却能一个人下班，</p>
            <p>一个人乘地铁，一个人上楼，一个人吃饭，一个人睡觉，一个人发呆。</p>
            <p>很多人离开另外一个人，就没有自己。而你却一个人，度过了所有。你的孤独，虽败犹荣。</p>

            <br>

            <p>别人在你人生中这么淡去，</p>
            <p>你也应该能想象得到自己又是如何淡出别人的人生的。</p>
            <p>当你发现你和某个人淡了，可能会很懊恼，但也不必，</p>
            <p>因为在你没有想起时就已经淡了，这没有影响到你的生活。</p>
            <p>你会懊恼，也许只是因为“你埋怨自己没把一些事情照顾周全”罢了。</p>







        </div>
        <hr class="m-margin-top-large">
        <br>
        <h2 class="m-margin-tb-tiny" style="font-size: xx-large;font-weight: bold;color: #F08047;font-family: STSong">
            打赏本站，支持本站做的更好</h2>
        <div class="ui orange basic label m-margin-tb-tiny">
            <p style="font-size: medium">赞助本站-打赏站长，支持本站做的更好。金额多少都是您对本站的一片心意，打赏 1元与 100 元同样心存感恩</p>
        </div>
        <div class="ui orange basic label">
            <div class="ui images" style="font-size: inherit !important;">
                <div class="image">
                    <img src="../static/images/zhifupay.jpg" th:src="@{/images/zhifupay.jpg}" alt=""
                         class="ui rounded bordered image" style="width: 180px">
                    <div>支付宝</div>
                </div>
                <div class="image">
                    <img src="../static/images/wechatpay.jpg" th:src="@{/images/wechatpay.jpg}" alt=""
                         class="ui rounded bordered image" style="width: 180px">
                    <div>微信</div>
                </div>
            </div>
        </div>
        <!--<div class="hiddenDiv"></div>-->
    </div>
</div>

<br>
<br>

<!--底部栏-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive m-opacity">
    <!--容器-->
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="four wide column">
                <div style="font-size: large;font-weight: bold"
                     class="ui inverted m-text-thin m-text-spaced m-margin-top-max">联系我
                </div>
                <!--<div id="newblog-container">-->
                <!--<div class="ui inverted link list" th:fragment="newblogList">-->
                <!--<a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="item m-text-thin" th:each="blog : ${newblogs}" th:text="${blog.title}">最新文章</a>-->
                <!--</div>-->
                <!--</div>-->
                <div class="ui inverted link list">
                    <div href="#" class="m-text-thin">Email：onestarlr@hotmail.com</div>
                    <div href="#" class="m-text-thin">QQ：316392836</div>
                </div>
            </div>

            <div class="four wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <!--微信二维码-->
                        <div style="font-size: large;font-weight: bold" class="ui inverted m-text-thin m-text-spaced ">
                            关注公众号
                        </div>
                        <img src="../static/images/oneStar.jpg" th:src="@{/images/oneStar.jpg}"
                             class="ui m-margin-top rounded image" alt="" style="width: 110px">
                    </div>
                </div>
            </div>

            <div class="four wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <!--微信二维码-->
                        <div style="font-size: large;font-weight: bold" class="ui inverted m-text-thin m-text-spaced ">
                            问题交流（QQ群）
                        </div>
                        <img src="../static/images/QQ-question.jpg" th:src="@{/images/QQ-question.jpg}"
                             class="ui m-margin-top rounded image" alt="" style="width: 110px">
                    </div>
                </div>
            </div>
            <!--博客运行时间统计-->
            <div class="four wide column">
                <div style="font-size: large;font-weight: bold"
                     class="ui inverted  m-text-thin m-text-spaced m-margin-top">客栈信息
                </div>
                <!--<p id="htmer_time" class="item m-text-thin"></p>-->
                <div id="blog-message">
                    <div class="ui inverted link list" style="align-content: center;margin-top: 10px"
                         th:fragment="blogMessage">
                        <div class="m-text-thin" style="text-align: left;margin-left: 75px;">
                            文章总数： <h2 class="ui orange header m-inline-block m-margin-top-null"
                                      style="font-size:medium;" th:text="${blogTotal}"> 14 </h2> 篇
                        </div>
                        <div class="m-text-thin" style="text-align: left;margin-left: 75px">
                            访问总数： <h2 class="ui orange header m-inline-block m-margin-top-null"
                                      style="font-size:medium;" th:text="${blogViewTotal}"> 14 </h2> 次
                        </div>
                        <div class="m-text-thin" style="text-align: left;margin-left: 75px">
                            评论总数： <h2 class="ui orange header m-inline-block m-margin-top-null"
                                      style="font-size:medium;" th:text="${blogCommentTotal}"> 14 </h2> 条
                        </div>
                        <div class="m-text-thin" style="text-align: left;margin-left: 75px">
                            留言总数： <h2 class="ui orange header m-inline-block m-margin-top-null"
                                      style="font-size:medium;" th:text="${blogMessageTotal}"> 14 </h2> 条
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <div style="color: #F08047;margin-top: -18px" class="ui inverted m-text-thin m-text-spaced">我的客栈已营业：<span
                id="htmer_time" class="item m-text-thin"></span> (*๓´╰╯`๓)
        </div>
        <a rel="nofollow" href="http://www.beian.miit.gov.cn" target="_blank">赣ICP备20004408号-1</a>
    </div>
    </div>

</footer>


<script src="/static/lib/jquery-3.2.1/jquery-3.2.1.min.js" th:src="@{/lib/jquery-3.2.1/jquery-3.2.1.min.js}"></script>
<script src="/static/lib/semantic.dist/semantic.min.js" th:src="@{/lib/semantic.dist/semantic.min.js}"></script>

<script>


    $('#blog-message').load(/*[[@{/footer/blogmessage}]]*/"/footer/blogmessage");


    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    // 显示公众号
    $('.tencent').popup({
        popup: $('.tencent-qr'),
        position: 'bottom center'
    });

    // 显示微信
    $('.wechat').popup({
        popup: $('.wechat-qr'),
        position: 'bottom center'
    });

    // 显示QQ
    $('.qq').popup({
        popup: $('.qq-qr'),
        position: 'bottom center'
    });

    // 显示邮箱
    $('.email').popup();

    // 显示CSDN
    $('.csdn').popup();

    // 显示github
    $('.github').popup();


    // 运行时间统计
    function secondToDate(second) {
        if (!second) {
            return 0;
        }
        var time = new Array(0, 0, 0, 0, 0);
        if (second >= 365 * 24 * 3600) {
            time[0] = parseInt(second / (365 * 24 * 3600));
            second %= 365 * 24 * 3600;
        }
        if (second >= 24 * 3600) {
            time[1] = parseInt(second / (24 * 3600));
            second %= 24 * 3600;
        }
        if (second >= 3600) {
            time[2] = parseInt(second / 3600);
            second %= 3600;
        }
        if (second >= 60) {
            time[3] = parseInt(second / 60);
            second %= 60;
        }
        if (second > 0) {
            time[4] = second;
        }
        return time;
    }

    function setTime() {
        /*此处为网站的创建时间*/
        var create_time = Math.round(new Date(Date.UTC(2020, 01, 25, 15, 15, 15)).getTime() / 1000);
        var timestamp = Math.round((new Date().getTime() + 8 * 60 * 60 * 1000) / 1000);
        currentTime = secondToDate((timestamp - create_time));
        currentTimeHtml = currentTime[0] + '年' + currentTime[1] + '天'
            + currentTime[2] + '时' + currentTime[3] + '分' + currentTime[4]
            + '秒';
        document.getElementById("htmer_time").innerHTML = currentTimeHtml;
    }

    setInterval(setTime, 1000);


</script>
</body>
</html>