<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHENG-音乐盒</title>

    <link href="../static/images/favicon.ico" th:href="@{/images/me.jpg}" rel="icon" type="image/x-ico">
    <link rel="stylesheet" href="/static/lib/semantic.dist/semantic.min.css" th:href="@{/lib/semantic.dist/semantic.min.css}">    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
    <link rel="stylesheet" href="../static/lib/music/css/zplayer.min.css" th:href="@{/lib/music/css/zplayer.min.css}"/>


</head>
<body>

<!--导航-->
<nav class="gird-header">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui olive header item" style="font-family: STSong">CHENG</h2>
            <!--<div class="right m-item item m-mobile-hide">-->
            <a href="#" target="_blank" th:href="@{/}" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
            <a href="#" target="_blank" th:href="@{/types/-1}" class="m-item item m-mobile-hide"><i
                    class="clone outline icon"></i>分类</a>
            <a href="#" target="_blank" th:href="@{/archives}" class="m-item item m-mobile-hide"><i
                    class="clock icon"></i>时间轴</a>
            <a href="#" th:href="@{/music}" class="active m-item item m-mobile-hide"><i class="music icon"></i>音乐盒</a>
            <a href="#" target="_blank" th:href="@{/message}" class="m-item item m-mobile-hide"><i
                    class="book icon"></i>留言板</a>
            <a href="#" target="_blank" th:href="@{/friends}" class="m-item item m-mobile-hide"><i
                    class="pencil alternate icon"></i>友人帐</a>
            <a href="#" target="_blank" th:href="@{/picture}" class="m-item item m-mobile-hide"><i
                    class="image icon"></i>照片墙</a>
            <a href="#" target="_blank" th:href="@{/about}" class="m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
            <!--</div>-->
            <div class="right m-item item m-mobile-hide">
                <form name="search" action="#" th:action="@{/search}" method="post" target="_blank">
                    <div class="ui icon transparent input m-margin-tb-tiny" style="color: white">
                        <input style="color: white" type="text" name="query" placeholder="Search...."
                               th:value="${query}">
                        <i onclick="document.forms['search'].submit()" class="search link icon"></i>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--顶部图片-->
<div class="m-bg-type_outer" style="width: 100%;height: 40%">

</div>

<div class="ui m-margin- m-opacity" align="center">
    <div class="ui container box-shadow-max">
        <div id="player2"></div>
    </div>
</div>

<script src="/static/lib/jquery-3.2.1/jquery-3.2.1.min.js" th:src="@{/lib/jquery-3.2.1/jquery-3.2.1.min.js}"></script>
<script src="/static/lib/semantic.dist/semantic.min.js" th:src="@{/lib/semantic.dist/semantic.min.js}"></script>
<script type="text/javascript" src="../../static/lib/music/js/zplayer.min.js"
        th:src="@{/lib/music/js/zplayer.min.js}"></script>


<script>
    var zp2 = new zplayer({
        element: document.getElementById("player2"),
        lrcStart: 1,/*是否开启歌词功能 ，默认false（为true时musics集合中需要传入lrc字段。）*/
        musics: [{
            title: "入海",
            author: "毛不易",
            url: "http://music.163.com/song/media/outer/url?id=1449782341.mp3",
            pic: "https://p4.music.126.net/dsRejlBHRMM4iHvbF7vNbw==/109951165031392086.jpg?param=400y400",
            lrc: "[ti:入海]\n" +
                "[ar:毛不易]\n" +
                "[al:入海]\n" +
                "\n" +
                "[00:00.000] 作词 : 马晓波\n" +
                "[00:01.000] 作曲 : 赵兆\n" +
                "[00:05.32]编曲：宋涛/赵兆\n" +
                "[00:16.43]还有说不完的话\n" +
                "[00:20.17]风催着我们出发\n" +
                "[00:23.74]把笑和泪都留下\n" +
            "[00:27.35]留在这一年的夏\n" +
            "[00:31.48]对于未来的想法\n" +
            "[00:34.87]有太多疑问没有回答\n" +
            " [00:38.64]关于面包和理想\n" +
            " [00:41.57]还有平凡和伟大\n" +
            " [00:46.69]那就这样出发\n" +
            "[00:50.37]再见吧 和我一样匆忙的人啊\n" +
            " [00:55.98]你们的歌声\n" +
            "[00:57.95]在遥远的路上轻轻回响\n" +
            " [01:07.39]时间会回答成长\n" +
            " [01:10.23]成长会回答梦想\n" +
            "  [01:14.91]梦想会回答生活\n" +
            " [01:18.62]生活回答你我的模样\n" +
            "  [01:22.45]海洋会回答江湖\n" +
            "[01:25.25]江湖会回答河流\n" +
            "[01:29.90]河流会回答浪潮\n" +
            "  [01:33.52]一起跃入人海\n" +
            "[01:37.02]做一朵奔涌的浪花\n" +
            " [02:09.23]还有说不完的话\n" +
            "[02:12.83]风催着我们出发\n" +
            "  [02:16.44]那个平凡的背影\n" +
            "  [02:19.83]去远方还是故乡\n" +
            " [02:23.95]迎着明天的风沙\n" +
            "   [02:27.12]有太多孤单无人回响\n" +
            "  [02:30.86]你是否和我一样\n" +
            " [02:33.55]带着倔强不投降\n" +
            " [02:38.65]那就这样出发\n" +
            "[02:42.05]再见吧 和我一样匆忙的人啊\n" +
            " [02:47.54]你们的歌声\n" +
            " [02:49.41]在深夜的梦里轻轻回响\n" +
            "  [02:55.02]时间会回答成长\n" +
            " [02:57.82]成长会回答梦想\n" +
            "   [03:02.49]梦想会回答生活\n" +
            "   [03:06.07]生活回答你我的模样\n" +
            "   [03:09.94]海洋会回答江湖\n" +
            " [03:12.60]江湖会回答河流\n" +
            " [03:17.19]河流会回答浪潮\n" +
            "  [03:20.77]一起跃入人海\n" +
            "  [03:24.06]做一朵奔涌的浪花\n" +
            "   [03:55.95]时间会回答成长\n" +
            "  [03:58.72]成长会回答梦想\n" +
            "   [04:03.35]梦想会回答生活\n" +
            " [04:06.96]生活回答你我的模样\n" +
            "  [04:10.72]海洋会回答江湖\n" +
            "  [04:13.57]江湖会回答河流\n" +
            "  [04:18.23]河流会回答浪潮\n" +
            "   [04:21.69]一起跃入人海\n" +
            "   [04:25.08]做一朵奔涌的浪花\n" +
            "   [04:27.98]时间会回答成长\n" +
            "   [04:30.25]成长会回答梦想\n" +
            "   [04:34.93]梦想会回答生活\n" +
            "   [04:38.45]生活回答你我的模样\n" +
            "   [04:42.17]海洋会回答江湖\n" +
            "  [04:44.89]江湖会回答河流\n" +
            "  [04:49.46]河流会回答浪潮\n" +
            "  [04:53.03]一起跃入人海\n" +
            "  [04:56.49]做一朵奔涌的浪花\n" +
            "   [05:02.10]让我们跃入人海\n" +
            " [05:06.51]做一朵奔涌的浪花\n" +
            " [05:21.66]还有说不完的话\n" +
            "  [05:25.68]我们现在就要出发\n" +
            "  [05:29.29]有些问题\n" +
            " [05:32.24]还不需要回答\n" +
            "  [05:36.95]唱着这首歌\n" +
            "  [05:39.75]向着海的方向\n" +
            "  [06:00.32]制作人：赵兆\n" +
            "  [06:00.44]钢琴：赵兆\n" +
            "  [06:01.30]吉他：薛峰\n" +
            "   [06:02.27]贝斯：韩阳\n" +
            "  [06:03.17]鼓：吴勇恒\n" +
            " [06:04.14]小提琴：李朋\n" +
            " [06:05.00]大提琴：张平\n" +
            "  [06:05.97]弦乐：国际首席爱乐乐团\n" +
            "  [06:06.89]合唱团：悦伴歌声合唱团\n" +
            "  [06:06.90]录音师：邢铜/李杨/王小四/妙妙\n" +
            "  [06:07.36]混音：李游\n" +
            "  [06:07.88]母带：李游\n" +
            "  [06:08.24]录音棚：55TEC/金田录音棚/A8录音棚"
    }, {
            title: "平凡的一天",
            author: "毛不易",
            url: "http://music.163.com/song/media/outer/url?id=569214247.mp3",
            pic: "https://p4.music.126.net/vmCcDvD1H04e9gm97xsCqg==/109951163350929740.jpg?param=200y200",
            lrc:
                " [00:00.000] 作词 : 毛不易\n" +
    " [00:01.000] 作曲 : 毛不易\n" +
    "  [00:02.000] 编曲 : 赵兆\n" +
    "  [00:04.100]\n" +
    " [00:14.470]每个早晨七点半就自然醒\n" +
    "   [00:22.390]风铃响起又是一天云很轻\n" +
    "   [00:30.280]晒好的衣服味道很安心\n" +
    "   [00:36.830]一切都是柔软又宁静\n" +
    "   [00:44.930]每个路口花都开在阳光里\n" +
    "   [00:52.660]小店门前传来好听的恋曲\n" +
    "   [01:00.390]不用太久就能走到目的地\n" +
    "   [01:07.820]人来人往里满是善意\n" +
    "    [01:15.100]这是最平凡的一天啊\n" +
    "   [01:19.610]你也想念吗\n" +
    "   [01:23.120]不追不赶慢慢走回家\n" +
    "   [01:29.750]就这样虚度着年华 没牵挂\n" +
    "   [01:38.300]只有晚风轻拂着脸颊\n" +
    "   [02:02.170]日落之前斜阳融在小河里\n" +
    "   [02:08.650]逛了黄昏市场收获很满意\n" +
    "   [02:16.000]朋友打来电话说他在等你\n" +
    "   [02:23.980]见面有聊不完的话题\n" +
    "   [02:31.390]餐桌摆在开满花的院子里\n" +
    "   [02:39.580]微微酒意阵阵欢歌笑语\n" +
    "  [02:47.330]从不考虑明天应该去哪里\n" +
    "  [02:54.990]因为今夜的风太和煦\n" +
    "  [03:01.380]这是最平凡的一天啊\n" +
    "   [03:06.220]你也想念吗\n" +
    "  [03:09.900]不追不赶慢慢走回家\n" +
    "   [03:16.520]就这样虚度着年华 没牵挂\n" +
    " [03:25.100]只有晚风轻拂着脸颊\n" +
    "   [03:31.990]这是最完美的一天啊\n" +
    "  [03:36.720]你也想要吗\n" +
    "   [03:40.470]生活可以不那么复杂\n" +
    "  [03:46.700]就这样虚度着年华 没牵挂\n" +
    "  [03:55.680]只有晚风轻拂着脸颊\n" +
    "  [04:02.940]总有一天 我们会找到她\n" +
    "  [04:15.940]\n" +
    "  [04:23.110]制作人Producer : 李健 赵兆\n" +
    "   [04:23.340]键盘Keyboard : 赵兆\n" +
    "   [04:23.550]吉他Guitar : 向嵬\n" +
    "   [04:23.730]贝斯Bass : 韩阳\n" +
    "   [04:23.900]鼓Drum : 武勇恒\n" +
    " [04:24.100]长笛flute : 刘晓光\n" +
    "  [04:24.290]合音Backing Vocal : 梁古驰\n" +
    "  [04:24.450]混音Mixing : 李游\n" +
    " [04:24.630]母带Mastering : Joe LaPorta .（Sterling Sound. NY）\n" +
"[04:24.830]录音棚Studio : 55TEC . Beijing\n" +
    "   [04:24.990]录音Recording : 李游 李杨\n" +
    " [04:25.290]人声录音Vocal Recording : 李杨\n" +
    " [04:25.440]人声编辑Vocal Editing : 李杨\n" +
    "[04:25.690]录音助理Recording Assistants : 郭舒文 邢铜\n" +
    "[04:26.110]音乐制作发行Produced and Distributed : 哇唧唧哇×智慧大狗\n" +
        "[04:26.780]"


    }, {
            title: "南一街道",
            author: "毛不易",
            url: "http://music.163.com/song/media/outer/url?id=569214249.mp3",
            pic: "https://p4.music.126.net/vmCcDvD1H04e9gm97xsCqg==/109951163350929740.jpg?param=200y200",
            lrc:
                "  [00:00.000] 作词 : 毛不易\n" +
    "   [00:01.000] 作曲 : 毛不易\n" +
    "    [00:09.62]编曲Arranger ：赵兆 宋涛\n" +
    "    [00:21.86]一条大路通东西\n" +
    "   [00:29.05]两边有树不高也不密\n" +
    "   [00:34.74]小风它吹走行人的倦意\n" +
    "    [00:40.13]夏天不用睡凉席\n" +
    "    [00:46.38]一场大雨落了叶满地\n" +
    "    [00:51.61]柏油路映出那人影稀\n" +
    "    [00:57.35]路边的砖头是大人的桥\n" +
    "    [01:02.72]小孩儿用它做游戏\n" +
    "    [01:07.65]木门框柴火香 又一段时光\n" +
    "    [01:14.24]不知不觉影子就慢慢变长\n" +
    "    [01:19.91]高楼起 带走了我们的小广场\n" +
    "    [01:25.39]带来了我的忧伤\n" +
    "    [01:54.22]一条大路她通东西\n" +
    "    [01:59.07]西边儿高来她东边儿低\n" +
    "     [02:04.85]渴了饿了你西边儿走\n" +
    "    [02:10.51]饱了困了东边儿去\n" +
    "   [02:16.29]后来有一天就都变了\n" +
    "   [02:22.02]广场舞跳走了秧歌戏\n" +
    "   [02:27.60]穿红戴绿的老夫妻\n" +
    "   [02:32.67]不知道去了哪里\n" +
    "    [02:39.32]木门框柴火香 又一段时光\n" +
    "   [02:44.64]不知不觉影子就慢慢变长\n" +
    "   [02:50.19]高楼起 带走了我们的小广场\n" +
    "   [02:55.79]带来了我的忧伤\n" +
    "   [03:01.76]木门框柴火香 我们的时光\n" +
    "   [03:06.95]不知不觉影子就慢慢变长\n" +
    "   [03:13.11]高楼起 带走了我们的小广场\n" +
    "    [03:18.42]带来了我的忧伤\n" +
    "    [03:23.99]带来了我的忧伤\n" +
    "   [03:30.23]带来了你的忧伤\n" +
    "  [03:39.11]制作人Producer：李健 赵兆\n" +
    "  [03:40.40]口哨Whistle：毛不易\n" +
    "  [03:41.94]三弦Sanxian：王玉\n" +
    "  [03:43.32]键盘Keyboard：赵兆\n" +
    "   [03:44.50]吉他Guitar：薛峰\n" +
    " [03:45.87]贝斯Bass：韩阳\n" +
    "   [03:46.55]鼓Drum：武勇恒\n" +
    "  [03:47.63]合音Backing Vocal：梁古驰\n" +
    "    [03:48.81]弦乐Strings：国际首席爱乐乐团International Master Philharmonic Orchestra\n" +
    "    [03:49.64]混音Mixing：周天澈\n" +
    "   [03:50.49]母带Mastering：Joe LaPorta .（Sterling Sound. NY）\n" +
"[03:51.06]录音棚Studio：55TEC . Beijing\n" +
    "    [03:51.74]录音Recording：李游 李杨\n" +
    "   [03:52.37]人声录音Vocal Recording：李杨\n" +
    "  [03:52.95]人声编辑Vocal Editing：李杨\n" +
    " [03:53.55]录音助理Recording Assistants：郭舒文 邢铜\n" +
    " [03:54.18]音乐制作发行produced and distributed: 哇唧唧哇×智慧大狗\n" +
       "[03:55.19]"
    }, {
            title: "晚风",
            author: "Copy",
            url: "http://music.163.com/song/media/outer/url?id=1441758494.mp3",
            pic: "https://p4.music.126.net/lCblKUB1hLND5FxiVI1_Lw==/109951164919449758.jpg?param=200y200",
            lrc:
                "  [00:00.000] 作词 : Copy/BT07-PZ\n" +
    " [00:01.000] 作曲 : Copy/BT07-PZ\n" +
    " [00:02.299]编曲：July\n" +
    "  [00:07.299]采样：星爷\n" +
    "  [00:13.049]混音：XTONE\n" +
    "  [00:15.049]出品：网易音乐人 X 青云LAB\n" +
    "  [00:29.000]将近的晚风快吹干整条小巷\n" +
    "  [00:31.630]燃尽的灯光无法再将我们点亮\n" +
    "  [00:34.430]要明白有些事情不能总靠想象\n" +
    "  [00:37.070]大不了今晚继续喝到明天早上\n" +
    "  [00:39.260]看不到希望的人还在自言自语说着\n" +
    "   [00:42.170]抱怨得不到温暖的人还在继续作着\n" +
    "  [00:44.880]他对着电话那头说着自己过得很好\n" +
    "  [00:47.430]挂断之后他又在被子里面偷偷哭了\n" +
    "  [00:50.020]不存在一帆风顺 偶尔也会去疯混\n" +
    "  [00:52.760]尽管有好多人讨论着你是什么门货\n" +
    "  [00:55.410]慢慢也有了分寸 不屑于那些争论\n" +
    "   [00:58.180]所以我大多数的时候都会选择沉默\n" +
    "   [01:00.768]付出的一切难免最后都会化为落尘\n" +
    "  [01:03.268]就算整个世界空绝就剩我独自一人\n" +
    "   [01:06.099]感觉到肩上重了 心里又再次痛了\n" +
    "  [01:08.658]把委屈偷偷收好\n" +
    "  [01:09.950]索性忘掉那些过程\n" +
    "  [01:12.378]一个人漫无目的 迷失在晚风里\n" +
    "  [01:17.789]我知道后会无期 但也不能逃避\n" +
    "  [01:23.048]迷惘的日子里 感谢能遇见你\n" +
    "  [01:28.220]究竟还要经历多少荆棘\n" +
    "  [01:30.730]也许该为我的选择庆幸\n" +
    " [01:32.840]人活着到底为了什么东西\n" +
    "  [01:34.360]忙碌可能为了一张到老\n" +
    "  [01:36.018]也不够还清的账单\n" +
    "  [01:37.980]我每天碌碌无为\n" +
    "  [01:39.179]却又感觉活的累\n" +
    "  [01:40.268]总有人劝我别**追梦了\n" +
    "  [01:42.140]快去上班\n" +
    "  [01:43.399]混到头来不过为了一个名称\n" +
    " [01:46.000]你喜欢的东西总有许多人争\n" +
    " [01:48.340]他们随便动动手指就能得到的\n" +
    "  [01:50.619]你却要付出百倍努力\n" +
    " [01:52.230]还要赌上你的人生\n" +
    " [01:53.649]或许被打到鼻青脸肿\n" +
    "[01:55.170]也不敢还手吧\n" +
    " [01:56.628]你知道后果\n" +
    " [01:57.450]没有人可以来为你承担\n" +
    "  [01:59.369]吃完泡面会撒谎自己的钱还有\n" +
    "  [02:02.118]一半是不想被担心一半怕再难堪\n" +
    "  [02:04.908]我没有他们那么出众\n" +
    " [02:06.509]没有开豪车的叔送\n" +
    " [02:07.959]就这样其实我也无所谓\n" +
    " [02:10.179]不就是被骂了两句\n" +
    " [02:11.788]并不值得你去选择放弃\n" +
    "[02:13.498]听完这首歌就早点睡\n" +
    "[02:16.318]一个人漫无目的 迷失在晚风里\n" +
    "[02:21.389]我知道后会无期 但也不能逃避\n" +
    "[02:26.848]迷惘的日子里 感谢能遇见你\n" +
    "[02:32.068]究竟还要经历多少荆棘\n" +
    "[02:34.669]也许该为我的选择庆幸\n" +
    "[02:36.960]你没做怎么知道没搞头\n" +
    "[02:38.258]你不要做了\n" +
    "[02:39.938]我劝你要脚踏实地的做人嘛\n" +
    "[02:42.278]这里有份洗厕所的工作你先做着\n" +
    "[02:44.788]你就别做梦了\n" +
    "[02:46.718]做人如果没梦想\n" +
    "[02:47.929]那跟咸鱼有什么分别啊\n" +
    "[02:50.028]你连鞋都没有\n" +
    "[02:51.160]那不就是咸鱼一条喽\n" +
    "[02:52.929]还学人家讲理想\n" +
    "[02:54.899]话不能这么讲\n" +
    "[02:56.490]我心中的一团火是不会熄的\n" +
    "[03:00.338]那把它吹熄了 不熄\n" +
        "[03:02.199]熄了可以再点着它"
    }, {
            title: "如果你也这样过",
            author: "尤长靖",
            url: "http://music.163.com/song/media/outer/url?id=1490343020.mp3",
            pic: "https://p3.music.126.net/1XfoEJK6dQ2TEw55eXZLfA==/109951165418603915.jpg?param=200y200",
            lrc:
                "         [00:00.000] 作词 : 韩寒\n" +
    "   [00:01.000] 作曲 : 钱雷\n" +
    "    [00:03.801]编曲：钱雷\n" +
    "   [00:18.802]你是否也曾经彻夜难眠\n" +
    "   [00:21.918]也许昨天\n" +
    "   [00:23.468]也许已经多年\n" +
    "    [00:25.502]是否也会莫名其妙流泪\n" +
    "    [00:29.252]在洗手间\n" +
    "    [00:31.614]在阳台边\n" +
    "   [00:33.512]所有人都说  最欣赏你的洒脱\n" +
    "   [00:36.979]你笑的最多  永远不会落寞\n" +
    "    [00:40.795]你周末会远行  虽然整晚在枯坐\n" +
    "    [00:44.545]看远方泛白  看着世界的轮廓\n" +
    "    [00:48.513]如果你也这样过 或者正在这样着\n" +
    "   [00:52.295]有个黑洞在吞噬 你曾热爱的生活\n" +
    "   [00:56.146]不知从何时开始 我们内心的角落\n" +
    "   [01:00.856]内心遮蔽的角落 怎么说 该怎么说\n" +
    "   [01:05.007]你一定想过（也许想过）\n" +
"[01:08.739]一百万种结果（应该更多）\n" +
"[01:12.556]哪一种结果（我曾想过）能摆脱\n" +
    "   [01:20.539]听我说 听我认真地说\n" +
    "   [01:27.056]这条路我也来过\n" +
    "   [01:31.456]一样如此低落\n" +
    "    [01:33.340]一样如此低落\n" +
    "   [01:35.258]一样如此低落\n" +
    "   [01:43.423]Oh~\n" +
    "    [01:43.856]一样如此低落\n" +
    "   [01:51.739]你没错  我没错\n" +
    "    [02:14.856]都没错\n" +
    "    [02:21.622]如果你也这样过 或者正在这样着\n" +
    "    [02:25.390]有个黑洞在吞噬 你曾热爱的生活\n" +
    "    [02:28.974]我也正在努力啊 我们内心的角落\n" +
    "    [02:32.906]阴雨不停的角落 怎么做 该怎么做\n" +
    "   [02:37.206]所有人都说  最欣赏你的洒脱\n" +
    "    [02:40.623]你笑的最多  永远不会落寞\n" +
    "    [02:44.856]你周末会远行  虽然整晚在枯坐\n" +
    "   [02:48.656]看远方泛白～啊\n" +
    "    [02:53.389]谁的错\n" +
    "    [03:01.089]谁的错\n" +
    "    [03:09.356]你去听懂沉默 理解别的沉默\n" +
    "    [03:12.974]理解人的无力 理解渺小脆弱\n" +
    "   [03:16.939]请你不要像我  如果你 不想说话\n" +
    "   [03:22.673]就别说 就别说\n" +
    "   [03:24.789]就别对人倾吐 就别听人倾诉\n" +
    "   [03:28.323]就和自己相处 凝望内心深处\n" +
    "   [03:32.323]你\n" +
    "  [03:33.890]不会孤独\n" +
    "   [03:35.226]孤独\n" +
    "   [03:36.123]孤独\n" +
    "   [03:39.940]这样吧\n" +
    "  [03:47.723]这样吧\n" +
    "  [03:54.773]你能懂吗\n" +
    "  [04:01.691]吉他：高飞\n" +
    "  [04:02.008]贝斯：李卓\n" +
    " [04:02.306]录音师：李宗远\n" +
    " [04:02.589]Vocal Edit：李宗远\n" +
    "[04:02.823]混音&母带：周天澈\n" +
    "[04:03.074]录音棚：Studio 21A\n" +
        "[04:03.273]制作人：钱雷"

    }, {
            title: "遥远的你",
            author: "微光",
            url: "http://music.163.com/song/media/outer/url?id=1365522047.mp3",
            pic: "https://p1.music.126.net/mEVNgNs8GPAzx8Eitjdziw==/109951164076385765.jpg?param=200y200",
            lrc:
                " [00:00.000] 作词 : 李亚然/王明明\n" +
    " [00:00.042] 作曲 : 王明明\n" +
    "    [00:00.85]遥远的你（正式版）\n" +
"[00:01.65]词：王明明/李亚然\n" +
    "     [00:02.46]曲：王明明\n" +
    "    [00:03.06]演唱：微光\n" +
    "   [00:15.20]眼角闪起的泪光\n" +
    "   [00:18.77]无边无际地游荡\n" +
    "   [00:22.35]眉下的一记荒唐\n" +
    "    [00:25.90]庸俗地写在脸上\n" +
    "    [00:29.70]犹如一缕阳光\n" +
    "    [00:33.11]但却觉得感伤\n" +
    "   [00:36.69]记忆挥散不去\n" +
    "   [00:40.26]却藏进了 我的诗句\n" +
    "  [00:46.69]合：\n" +
"[00:47.04]七月的风 八月的雨\n" +
            "  [00:50.58]卑微的我喜欢遥远的你\n" +
    "   [00:54.17]你还未来 怎敢老去\n" +
    "    [00:57.78]未来的我和你奉陪到底\n" +
    "    [01:01.32]你若同意 我一定去\n" +
    "    [01:04.94]可你并不在意我的出席\n" +
    "   [01:08.50]你的过去 无法参与\n" +
    "    [01:12.46]但我还是 喜欢你\n" +
    "   [01:33.96]我有一把钥匙\n" +
    "   [01:37.52]能解开你的故事\n" +
    "   [01:41.06]单纯的像个孩子\n" +
    "   [01:44.67]偏藏进了 我的诗句\n" +
    "  [01:51.04]合：\n" +
"[01:51.44]七月的风 八月的雨\n" +
    "    [01:54.97]卑微的我喜欢遥远的你\n" +
    "    [01:58.56]你还未来 怎敢老去\n" +
    "    [02:02.18]未来的我和你奉陪到底\n" +
    "   [02:05.74]你若同意 我一定去\n" +
    "   [02:09.37]可你并不在意我的出席\n" +
    "   [02:12.87]你的过去 无法参与\n" +
    "    [02:16.93]但我还是 喜欢你\n" +
    "    [02:23.72]七月的风 八月的雨\n" +
    "    [02:27.29]卑微的我喜欢遥远的你\n" +
    "    [02:30.87]你还未来 怎敢老去\n" +
    "   [02:34.46]未来的我和你奉陪到底\n" +
    "   [02:38.02]你若同意 我一定去\n" +
    "   [02:41.63]可你并不在意我的出席\n" +
    "   [02:45.20]你的过去 无法参与\n" +
    "   [02:49.19]但我还是 喜欢你\n" +
    "   [02:55.93]七月的风 八月的雨\n" +
    "  [02:59.55]卑微的我喜欢遥远的你\n" +
    "  [03:03.10]你还未来 怎敢老去\n" +
    "  [03:06.71]未来的我和你奉陪到底\n" +
    "  [03:10.27]你若同意 我一定去\n" +
    "  [03:13.88]可你并不在意我的出席\n" +
    " [03:17.39]你的过去 无法参与\n" +
    " [03:21.43]但我还是 喜欢你\n" +
        "[03:28.32]"
    }, {
            title: "想去海边",
            author: "夏日入侵企画",
            url: "http://music.163.com/song/media/outer/url?id=1413863166.mp3",
            pic: "https://p1.music.126.net/sLWN-iePq4ESOMPER0IWgQ==/109951164602081973.jpg?param=200y200",
            lrc:
                "   [00:00.000] 作词 : 灰鸿啊\n" +
    "   [00:00.019] 作曲 : 灰鸿啊\n" +
    "   [00:00.38]出品：网易云音乐石头计划3摇滚季 X 青云Lab\n" +
    "   [00:01.38]等一个自然而然的晴天\n" +
    "   [00:04.90]我想要带你去海边\n" +
    "   [00:08.39]去留住这个瞬间在来不及挽回之前\n" +
    "   [00:15.95]其实不需要深刻的语言\n" +
    "   [00:20.45]趁现在还有一点时间\n" +
    "  [00:23.22]就当是最后一次\n" +
    "  [00:25.38]再一次和我去冒险\n" +
    "   [00:30.63]不经意划过发尾的指尖\n" +
    "   [00:34.91]还有冰镇汽水的甜\n" +
    "   [00:37.90]猜不到你给谁写\n" +
    "   [00:40.14]带着海风的明信片\n" +
    "   [00:45.36]哦可不可以再专心一点\n" +
    "    [00:48.71]请你不要心不在焉\n" +
    "    [00:52.81]黄昏夕阳还有愿望没实现\n" +
    "  [00:59.43]能不能和你竭尽全力奔跑\n" +
    "   [01:03.99]向着海平线\n" +
    "   [01:07.68]余晖消逝之前都不算终点\n" +
    "   [01:14.00]曾经的关于以后所有的幻想已经太遥远\n" +
    "   [01:22.23]被我们丢在身后的时间\n" +
    "   [01:29.58]不经意划过发尾的指尖\n" +
    "   [01:32.92]还有冰镇汽水的甜\n" +
    "   [01:36.66]猜不到你给谁写\n" +
    "   [01:38.95]带着海风的明信片\n" +
    "   [01:44.09]哦可不可以再专心一点\n" +
    "   [01:47.46]请你不要心不在焉\n" +
    "   [01:51.40]可我却舍不得去挽留你躲闪的双眼\n" +
    "   [01:58.11]能不能和你竭尽全力奔跑\n" +
    "   [02:02.90]向着海平线\n" +
    "    [02:06.44]余晖消逝之前都不算终点\n" +
    "  [02:12.81]曾经的关于以后所有的幻想已经太遥远\n" +
    "  [02:20.72]被我们丢在身后的时间\n" +
    "   [02:27.37]怎么再见\n" +
    "   [02:57.19]能不能和你竭尽全力奔跑\n" +
    "   [03:01.47]向着海平线\n" +
    "   [03:05.15]余晖消逝之前都不算终点\n" +
    "   [03:11.60]曾经的关于以后所有的幻想已经太遥远\n" +
    "   [03:19.88]可记忆中的 你想要我 怎么说再见\n" +
    "    [03:26.99]能不能和你竭尽全力奔跑\n" +
    "    [03:31.14]向着海平线\n" +
    "   [03:34.40]余晖消逝之前都不算终点\n" +
    "   [03:40.99]那是我一直想要只带你去的海边\n" +
    "  [03:49.22]让我们互相折磨的时间\n" +
    "  [03:55.48]怎么再见\n" +
    "   [04:12.95]等一个自然而然的晴天\n" +
    "   [04:16.80]我想要带你去海边\n" +
    "   [04:20.08]制作人：韦伟\n" +
    "   [04:20.60]编曲：夏日入侵企画\n" +
    "[04:21.10]吉他：张天翼\n" +
    "  [04:21.60]贝斯：张光亿\n" +
    "  [04:22.20]鼓：吕品\n" +
    "  [04:22.61]和声：张光亿\n" +
    "  [04:23.51]监制：1991与她\n" +
    "  [04:23.62]人声编辑：祝薇\n" +
    "  [04:24.08]录音棚：野火春风声音工作室\n" +
    " [04:24.30]录音/混音：李越\n" +
    "  [04:24.58]母带：Abby road studio(London)\n" +
    " [04:25.14]企划：小粉\n" +
    " [04:26.34]统筹：黄鲲 / 张迟\n" +
        "[04:26.64]特别感谢：敦煌\n"

    }, {
            title: "篝火旁（再启程）",
            author: "RAiNBOW计划",
            url: "http://music.163.com/song/media/outer/url?id=1869943939.mp3",
            pic: "https://p1.music.126.net/IFZBIGhfi3KHCINWD7W3jg==/109951166293334231.jpg?param=200y200",
            lrc:
                " [00:00.000] 作词 :  吕大叶/杨默依/马子林Broma/王东尼\n" +
    "  [00:01.000] 作曲 :  吕大叶/杨默依/马子林Broma/王东尼\n" +
    "  [00:06.219]出品：巨点工作室×云上工作室\n" +
    "   [00:08.712]制作人：Eileen Shan Zou\n" +
    "   [00:10.963]\n" +
    " [00:11.716]你还坐在小时候的篝火旁\n" +
    "   [00:16.971]北斗星在指着你的前方\n" +
    "   [00:19.467]在夜里你也不会失去你的方向\n" +
    "   [00:21.961]不会再度感到迷茫\n" +
    "   [00:24.209]湖面倒映着天空是你心中的梦想\n" +
    "    [00:27.218]丢弃内心不安的彷徨\n" +
    "    [00:29.959]不会在任何寂静夜里孤单幻想流浪\n" +
    "   [00:31.973]（Verse 1）\n" +
"[00:32.211]总在见过一场暴雨才懂 信念未被击碎\n" +
    "    [00:34.962]可经历过沉寂的梦想 dreaming再不疲惫\n" +
    "    [00:37.218]曾经在沉浸 在努力 也赞叹过神秘\n" +
    "    [00:40.212]曾经为山下的风景 可曾付出过全力\n" +
    "    [00:42.719]还没做 再付之一炬 擦掉痕迹\n" +
    "    [00:44.957]曾经许下 多少豪言壮语 太无趣\n" +
    "    [00:47.716]抓不住机会 let it go 就别再理会\n" +
    "   [00:50.212]被击溃的理想太脆弱 没太多的滋味\n" +
    "   [00:52.959]走心的最能代表内心 钢琴再次弹奏\n" +
    "   [00:55.478]就算把听说故事记录 雷声当作伴奏\n" +
    "  [00:57.967]Shady的馈赠 也许作为Stan的听众才懂\n" +
    "  [01:00.721]致敬或拙劣模仿 听到\n" +
    "   [01:03.469]Not afraid the rhythm\n" +
    "    [01:04.456]Now u know the feel\n" +
    "   [01:05.213]新节奏 钻研最新的对策\n" +
    "   [01:05.970]拒绝去邂逅 嫌弃眼神 由谁制定规则\n" +
    "   [01:08.463]Call me the king of loser\n" +
    "   [01:09.724]泥水作champion的配色\n" +
    "   [01:10.971]胜败输赢无所谓\n" +
    "   [01:12.217]自甘堕落才是罪恶\n" +
    "    [01:13.717]（Bridge）\n" +
"[01:13.960]Give a perfect shot and go babe\n" +
    "   [01:18.211]别浪费 腐蚀所有虚伪\n" +
    "  [01:24.220]Crazy voices echoed in my head\n" +
    "   [01:28.725]想逃离 所有苦痛伤悲\n" +
    "    [01:34.715]把所有不良糟糕习惯全部戒除后\n" +
    "    [01:37.214]历经过无数次重击却依然抬起头\n" +
    "   [01:39.718]看见你失望落寞神情继而开始自我反思\n" +
    "   [01:42.715]感谢你们没放弃 握住我的手\n" +
    "   [01:44.958]Hold my hand\n" +
    "   [01:46.716]是时候开始飞行独立\n" +
    "   [01:47.463]Hold my hand\n" +
    "   [01:48.457]遵循前行者留的足迹\n" +
    "   [01:49.961]穿越过流言沙漠\n" +
    "   [01:51.480]忍受着漠视爆破\n" +
    "   [01:52.714]不管有任何warning依然升空永不坠落\n" +
    "   [01:54.965]（Verse 2）\n" +
"[01:55.472]If U 期待着胜利 存在的痕迹\n" +
    "   [01:57.966]歇斯底里 奢盼着黎明 拒绝别的争议\n" +
    "   [02:00.726]从未放弃 在乱战后的废墟找寻记忆\n" +
    "   [02:03.468]终归在最泥泞的 沟壑里看到堕落距离\n" +
    "   [02:05.971]不管孤注还是继续 依靠信念维持秩序\n" +
    "   [02:08.468]努力探路哪怕崎岖 听着嘲弄不发一语\n" +
    "  [02:10.964]抓住机遇的followers 终将忘记了浮夸\n" +
    "  [02:13.469]寻找着真理看向前方\n" +
    "  [02:14.711]继续下一段的journey\n" +
    "  [02:16.218]They don't know the feel\n" +
    "  [02:17.465]真理在干涸的沙漠降落\n" +
    "  [02:18.918]该执着寻觅绿洲  燃起希望那团圣火\n" +
    "   [02:21.418]就算落寞 却记起 尊严不再 需要沉默\n" +
    "   [02:24.160]习惯堕落 在沉着里 选择假装 还是过错\n" +
    "   [02:26.908]\n" +
    "  [02:27.175]你还坐在小时候的篝火旁\n" +
    "    [02:30.162]看天上的月亮还是那个模样\n" +
    "    [02:32.417]北斗星在指着你的前方\n" +
    "    [02:34.922]在夜里你也不会失去你的方向\n" +
    "    [02:37.660]不会再度感到迷茫\n" +
    "    [02:39.672]湖面倒映着天空是你心中的梦想\n" +
    "    [02:42.667]丢弃内心不安的彷徨\n" +
    "     [02:45.674]不会在任何寂静夜里孤单幻想流浪\n" +
    "     [02:47.917]你还坐在小时候的篝火旁（Give a perfect shot and go babe）\n" +
"[02:50.908]看天上的月亮还是那个模样（别浪费）\n" +
"[02:53.414]北斗星在指着你的前方（腐蚀所有虚伪）\n" +
"[02:56.157]在夜里你也不会失去你的方向\n" +
    "    [03:00.416]不会再度感到迷茫（Crazy voices echoed in my head）\n" +
"[03:02.162]湖面倒映着天空是你心中的梦想（想逃离）\n" +
"[03:04.157]丢弃内心不安的彷徨\n" +
    "   [03:06.418]不会在任何寂静夜里孤单幻想流浪\n" +
    "     [03:08.424]（Outro）\n" +
"[03:08.928]编曲：Eileen Shan Zou\n" +
    "     [03:12.673]混音：陈伯豪@奕星宇音乐\n" +
    "  [03:13.919]母带：王辰@奕星宇音乐\n" +
    " [03:15.170]混音母带工作室：奕星宇音乐@Asterism Studio星芒录音棚\n" +
    "    [03:16.659]录音：斯琴朝格图@奕星宇音乐\n" +
    "[03:17.415]监制：丁博/黄俊/赵宗\n" +
    "   [03:18.412]企划：刘天宇/王政典/熊浩钧/马广芮\n" +
    "  [03:18.922]统筹：孙源/陈桉辰\n" +
    " [03:19.411]视觉设计：徐翠翠\n" +
        "[03:20.157]巨点工作室 & 云上工作室 联合出品\n"

    }, {
            title: "夜空中最亮的星",
            author: "逃跑计划",
            url: "http://music.163.com/song/media/outer/url?id=25706282.mp3",
            pic: "http://p1.music.126.net/d541jx7SqoDzVkenhmtg6g==/19193074974743620.jpg?param=300y300",
            lrc: "[00:00.000] 作曲 : 逃跑计划\n" +
                "[00:00.226] 作词 : 逃跑计划\n" +
                "[00:00.680]编曲：Giles Tully / 李赤\n" +
                "[00:01.680]制作人：Giles Tully / 李赤\n" +
                "[00:02.680]缩混：Giles Tully / Patrick Weyer-Brown / 姜北生\n" +
                "[00:03.680]Engineered by Hyperbolic Productions (Patrick Weyer-Brown & Giles Tully)\n" +
                "[00:04.680]Acoustic Guitar & Drum recorded by Hyperbolic Productions (Patrick Weyer-Brown) at YUM music\n" +
                "[00:05.680]Guitar Bass Vocal recorded by Hyperbolic Productions (Patrick Weyer-Brown & Giles Tully)\n" +
                "[00:06.680]其他录音：时俊峰 福达录音棚 / 姜北生 环球唱片录音棚 / 方岩 Funky Studio\n" +
                "[00:07.680]人声和声：逃跑计划\n" +
                "[00:08.680]女声和声：孙亮亮\n" +
                "[00:09.680]弦乐制作：朱金泰\n" +
                "[00:10.680]弦乐编写：朱金泰 / 陈迪\n" +
                "[00:11.680]弦乐：中国国家交响乐团\n" +
                "[00:12.680]首席小提琴：董智敏\n" +
                "[00:13.680]录音棚：有沐录音棚 YUM Studio\n" +
                "[00:14.680]弦乐录音：杨杰、郑昊杰\n" +
                "[00:15.680]制作助理：哈斯瑚必来\n" +
                "[00:16.680]母带处理：Patrick Weyer-Brown (FR) 法国SAE Paris 录音棚\n" +
                "[00:17.680]夜空中最亮的星 能否听清\n" +
                "[00:26.230] 那仰望的人 心底的孤独和叹息\n" +
                "[00:35.650] 夜空中最亮的星 能否记起\n" +
                "[00:44.210] 曾与我同行 消失在风里的身影\n" +
                "[00:52.540] 我祈祷拥有一颗透明的心灵\n" +
                "[00:57.640]和会流泪的眼睛\n" +
                "[01:01.880] 给我再去相信的勇气\n" +
                "[01:06.400]越过谎言去拥抱你\n" +
                "[01:10.420] 每当我找不到存在的意义\n" +
                "[01:15.300] 每当我迷失在黑夜里\n" +
                "[01:20.160] 夜空中最亮的星\n" +
                "[01:24.270] 请指引我靠近你\n" +
                "[01:37.880]夜空中最亮的星 是否知道\n" +
                "[01:46.450] 曾与我同行的身影 如今在哪里\n" +
                "[01:55.450] 夜空中最亮的星 是否在意\n" +
                "[02:03.950] 是等太阳升起 还是意外先来临\n" +
                "[02:12.370] 我宁愿所有痛苦都留在心里\n" +
                "[02:17.690] 也不愿忘记你的眼睛\n" +
                "[02:22.270] 给我再去相信的勇气\n" +
                "[02:26.400] 越过谎言去拥抱你\n" +
                "[02:30.350] 每当我找不到存在的意义\n" +
                "[02:35.270] 每当我迷失在黑夜里\n" +
                "[02:40.720] 夜空中最亮的星 请照亮我前行\n" +
                "[03:05.420]我祈祷拥有一颗透明的心灵\n" +
                "[03:10.870]和会流泪的眼睛\n" +
                "[03:15.930] 给我再去相信的勇气\n" +
                "[03:19.660]越过谎言去拥抱你\n" +
                "[03:23.600] 每当我找不到存在的意义\n" +
                "[03:28.760] 每当我迷失在黑夜里\n" +
                "[03:33.540] 夜空中最亮的星\n" +
                "[03:37.590]请照亮我前行\n" +
                "[03:50.890]夜空中最亮的星 能否听清\n" +
                "[03:59.810]那仰望的人 心底的孤独和叹息"
        }, {
            title: "雨",
            author: "沈以诚",
            url: "http://music.163.com/song/media/outer/url?id=1469005999.mp3",
            pic: "https://p4.music.126.net/9Tm64FK0P01acRW54FH34g==/109951165211406094.jpg?param=200y200",
            lrc:
                "            [00:00.000] 作词 : 萨吉\n" +
    "    [00:01.000] 作曲 : 孙秋/金东映\n" +
    "    [00:06.259]制作人：金大洲D-Jin\n" +
    "    [00:10.591]编曲：何山\n" +
    "    [00:18.526]雨水追 进了窗\n" +
    "    [00:24.547]潮湿穿在心上\n" +
    "    [00:28.146]肆意生长 着流淌\n" +
    "    [00:33.723]告诉我 要怎么\n" +
    "    [00:37.338]刻意的藏\n" +
    "    [00:40.420]它不曾说 淅沥声作回答\n" +
    "    [00:49.089]在昏暗 的世界\n" +
    "    [00:54.328]慢慢的擦\n" +
    "    [00:57.460]雨划破过后 留下的疤\n" +
    "   [01:04.120]把自己 变成个\n" +
    "   [01:08.561]陌生人\n" +
    "   [01:10.768]哭过 就走\n" +
    "   [01:22.183]如果大雨落下\n" +
    "   [01:29.493]就让我 成为海洋\n" +
    "   [01:37.171]那些看似 束缚\n" +
    "   [01:41.981]却关于爱的\n" +
    "   [01:45.801]每一朵浪花\n" +
    "   [01:52.444]如果大雨留下\n" +
    "   [01:59.892]也许 忘了回家\n" +
    "   [02:07.569]把雨穿在身上\n" +
    "    [02:12.418]然后去飞翔\n" +
    "   [02:16.165]假装是 翅膀\n" +
    "  [02:21.373]总有个你 让我长大\n" +
    "   [02:26.621]转身朝着你的方向\n" +
    "   [02:30.712]没有任何墙能阻挡 这太阳\n" +
    "  [02:41.947]如果大雨落下\n" +
    "  [02:49.471]那我 成为海洋\n" +
    "  [02:57.114]披上你给的光\n" +
    "  [03:02.053]再一次飞翔\n" +
    " [03:05.678]长出了 翅膀\n" +
    " [03:13.964]吉他：Shamril\n" +
    " [03:14.547]合声编写/合声：D1\n" +
    " [03:15.074]录音：张德龙@D-Jin Music Studio\n" +
    " [03:15.545]混音/母带：George Dum@Liquid Fish Studio LA\n" +
    "[03:15.989]OP : Number K Company/D-Jin Music\n" +
        "[03:16.480]SP : D-Jin Music"

    }, {
            title: "世间美好与你环环相扣",
            author: "柏松",
            url: "http://music.163.com/song/media/outer/url?id=1363948882.mp3",
            pic: "http://p2.music.126.net/DK1_4sP_339o5rowMdPXdw==/109951164071024476.jpg?param=300x300",
            lrc: "[00:00.000] 作曲 : 柏松\n" +
                "[00:01.000] 作词 : 尹初七\n" +
                "[00:15.854]编曲：彭圣杰\n" +
                "[00:28.354]偏偏秉烛夜 游\n" +
                "[00:31.354]午夜星辰 似奔走之友\n" +
                "[00:34.854]爱你每个结痂伤口\n" +
                "[00:37.854]酿成的陈年烈酒\n" +
                "[00:41.104]\n" +
                "[00:42.104]入喉尚算可口\n" +
                "[00:45.103]怎么泪水 还偶尔失守\n" +
                "[00:48.853]邀你细看心中缺口\n" +
                "[00:51.353]裂缝中留存 温柔\n" +
                "[00:56.104]\n" +
                "[00:57.853]此时已莺飞草长 爱的人正在路上\n" +
                "[01:02.103]我知他风雨兼程 途经日暮不赏\n" +
                "[01:05.853]穿越人海 只为与你相拥\n" +
                "[01:11.853]此刻已皓月当空 爱的人手捧星光\n" +
                "[01:15.603]我知他乘风破浪 去了黑暗一趟\n" +
                "[01:19.353]感同身受 给你救赎热 望\n" +
                "[01:25.602]\n" +
                "[01:26.353]知道你不能 还要你感受\n" +
                "[01:30.102]让星光加了一点彩虹\n" +
                "[01:33.102]让樱花偷偷 吻你额头\n" +
                "[01:36.853]让世间美好 与你环环相扣\n" +
                "[01:41.603]\n" +
                "[01:42.352]此时已莺飞草长 爱的人正在路上\n" +
                "[01:46.602]我知他风雨兼程 途经日暮不赏\n" +
                "[01:50.602]穿越人海 只为与你相拥\n" +
                "[01:56.102]此刻已皓月当空 爱的人手捧星光\n" +
                "[02:00.102]我知他乘风破浪 去了黑暗一趟\n" +
                "[02:04.352]感同身受 给你救赎热 望\n" +
                "[02:09.352]\n" +
                "[02:09.852]此时已莺飞草长 爱的人正在路上\n" +
                "[02:13.851]我知他风雨兼程 途经日暮不赏\n" +
                "[02:18.102]穿越人海 只为与你相拥\n" +
                "[02:23.602]此刻已皓月当空 爱的人手捧星光\n" +
                "[02:27.851]我知他乘风破浪 去了黑暗一趟\n" +
                "[02:31.852]感同身受 给你救赎热 望\n" +
                "[02:37.352]\n" +
                "[02:38.601]知道你不能 还要你感受\n" +
                "[02:41.601]让星光加了一点彩虹\n" +
                "[02:45.101]当樱花开的纷纷扬扬\n" +
                "[02:48.602]当世间美好 与你环环相扣\n" +
                "[02:58.601]特别鸣谢：槿葵，我们的海报制作妹妹。\n" +
                "[03:05.854]原唱：柏松\n" +
                "[03:06.355]吉他：柏松\n" +
                "[03:07.354]和声：柏松\n" +
                "[03:08.104]录音：柏松\n" +
                "[03:09.104]混音：张强\n"
        }, {
            title: "云烟成雨",
            author: "房东的猫",
            url: "http://music.163.com/song/media/outer/url?id=513360721.mp3",
            pic: "http://p1.music.126.net/DSTg1dR7yKsyGq4IK3NL8A==/109951163046050093.jpg?param=300x300",
            lrc: "[00:00] 作曲 : 少年佩\n" +
                "[00:01] 作词 : 墨鱼丝\n" +
                "[00:11]制作人：黎偌天\n" +
                "[00:12]编曲：黎偌天\n" +
                "[00:13]监制：李纤橙\n" +
                "[00:14]\n" +
                "[00:18]你的晚安 是下意识的恻隐\n" +
                "[00:24]我留至夜深 治疗失眠梦呓\n" +
                "[00:30]那封手写信 留在行李箱底\n" +
                "[00:36]来不及 赋予它旅途的意义\n" +
                "[00:43]若一切 都已云烟成雨\n" +
                "[00:49]我能否 变成淤泥\n" +
                "[00:52]再一次 沾染你\n" +
                "[00:55]若生命 如过场电影\n" +
                "[01:01]Oh让我再一次 甜梦里惊醒\n" +
                "[01:13]我多想再见你\n" +
                "[01:15]哪怕匆匆一眼就别离\n" +
                "[01:19]路灯下昏黄的剪影\n" +
                "[01:22]越走越漫长的林径\n" +
                "[01:25]我多想再见你\n" +
                "[01:28]至少玩笑话还能说起\n" +
                "[01:32]街巷初次落叶的秋分\n" +
                "[01:35]渐行渐远去的我们\n" +
                "[01:53]若一切 都已云烟成雨\n" +
                "[01:59]我能否 变成淤泥\n" +
                "[02:01]再一次 沾染你\n" +
                "[02:05]若生命 如过场电影\n" +
                "[02:10]Oh让我再一次 甜梦里惊醒\n" +
                "[02:19]我多想再见你\n" +
                "[02:21]哪怕匆匆一眼就别离\n" +
                "[02:26]路灯下昏黄的剪影\n" +
                "[02:28]越走越漫长的林径\n" +
                "[02:32]我多想再见你\n" +
                "[02:34]至少玩笑话还能说起\n" +
                "[02:38]街巷初次落叶的秋分\n" +
                "[02:41]渐行渐远去的我们\n" +
                "[02:49]站台 汽笛响起\n" +
                "[02:52]想念是你的声音\n" +
                "[02:55]我们提着过去 走入人群\n" +
                "[03:02]寻找着一个位置 安放自己\n" +
                "[03:13]我多想再见你\n" +
                "[03:15]哪怕匆匆一眼就别离\n" +
                "[03:19]路灯下昏黄的剪影\n" +
                "[03:22]越走越漫长的林径\n" +
                "[03:25]我多想再见你\n" +
                "[03:28]至少玩笑话还能说起\n" +
                "[03:31]街巷初次落叶的秋分\n" +
                "[03:35]渐行渐远去的我们\n" +
                "[03:41]\n[03:43]主唱：红鼻子小黑\n[03:44]制作人：黎偌天\n[03:46]监制：李纤橙\n"
        }]
    })
    zp2.init();

    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
</script>
</body>
</html>
